body {
    padding-bottom: 20px;
    font-family: Verdana;
}

.row{
    margin:0 !important;
}
/* Layout */
.logo{
    height:65px;
    align-self:center;
}
.logotext{
    font-size:1.3em;
    font-weight:900;
    color: #616161;
    line-height:1 !important;
    font-family: Arial Black, Arial Black, Gadget, sans-serif;
}
.setting {
    color: #424242;
}
nav{
    background-color: #00bcd4;
    padding-left: 15px;
    padding-right: 15px;
    font-weight:700 !important;
}
.navtableft{
    border-left: solid;
    border-color: #7cb342;
    border-width:1px;
    width:140px;
}
.navtab{
    border-left: solid;
    border-right: solid;
    border-color: #7cb342;
    border-width:1px;
    width:140px;
}
footer{
    padding: 20px !important;
    font-size:0.7em !important;
    height:90px;
}
/* Index View */
.sidecard{
    min-height: 200px;
}
.sidecard span{
    color: #424242 !important;
    font-weight:600;
}
.eventcoll {
    opacity:0.8;
}
.notecoll{
        opacity:0.8;
}
.maincard{
    min-height:610px;
}
.sidebtn {
    width:100%;
}
/* Search Candidates View */
select{
    display:block !important;
    height: 2.2rem !important;
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    border: 1px solid #f2f2f2 !important;
    border-radius: 2px !important;
    margin-top:5px !important;
}
.inputtext{
    height: 2.2rem !important;
    border:solid !important;
    border-width: 1px !important;
    width: 99% !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    border: 1px solid #f2f2f2 !important;
    border-radius: 2px !important;
    color: rgba(111, 111, 111, 1) !important;
    margin-top:5px !important;
    margin-bottom: 0 !important;
}
.searchbtn{
    margin-top:20px !important;
    width:100%;
}
.tabbtn{
    color: #424242;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.card blue-grey accent-1{
    background-color: #b2ebf2;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
header{
    height:auto;
}
.nav-wrapper{
    height: 70px;
}
