body {
    padding-bottom: 20px;
    font-family: Verdana;
}
.row{
    margin:0 !important;
}
.logorow{
    height:55px !important;
}
.logo{
    height:65px;
    align-self:center;
}
.logotext{
    font-size:1.2em;
    font-weight:900;
    color: #616161;
}
nav{
    background-color: #00bcd4;
    padding-left: 15px;
    padding-right: 15px;
    font-weight:700 !important;
}
.navtableft{
    border-left: solid;
    border-color: #7cb342;
    border-width:1px;
}
.navtab{
    border-left: solid;
    border-right: solid;
    border-color: #7cb342;
    border-width:1px;
}
footer{
    height:90px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.card blue-grey accent-1{
    background-color: #b2ebf2;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
header{
    height:auto;
}
.nav-wrapper{
    height: 70px;
}
