
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col l9 push-l3">
        <div class="card-panel white maincard">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Open Vacancies</h4></li>
                <li class="collection-item"><div>Lead ASP.NET C# developer<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Software Engineer C#, .Net, Javascript<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>C#/.Net Developer<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Разработчик C#, .NET, PHP, Javascript, Objective C, Linux and OSX<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            </ul>
        </div>
    </div>
    <div class="col l3 pull-l9">
        <div class="card-panel light-green lighten-5  sidecard">
            <span class="card-title black-text">Upcoming events:</span>
            <div class="collection eventcoll">
                <a href="#!" class="collection-item">Jan 17 11.00 HR Meeting</a>
                <a href="#!" class="collection-item">Jan 18 12.30 Tech Interviev with Andrey Vasiliev</a>
                <a href="#!" class="collection-item">Jan 21 10.30 HR Interviev with Taniya Kovtun</a>
            </div>
        </div>
        <div class="card-panel yellow lighten-4  sidecard">
            <span class="card-title black-text">Notes:</span>
            <ul class="collection notecoll">
                <li class="collection-item">To do something in Monday</li>
                <li class="collection-item">To schedule an interview for the vacancy "Junior C# Developer"</li>
                <li class="collection-item">Make a report on vacancies in January</li>
            </ul>
        </div>
        <a class="waves-effect waves-effect yellow darken-4 btn sidebtn"><i class="material-icons left">note_add</i>Add Note</a>
    </div>
</div>

